* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}
/*   */
header .contain_header {
    font-family: "Consolas";
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
}

nav {
    display: flex;
    height: 80px;
    background-color: rgb(249,219,121);
}
nav .contain_nav {
    width: 50%;
}

nav .contain_nav ul {
    display: flex;
}

nav .contain_nav ul li {
    list-style: none;
    line-height: 80px;
    padding: 0 10px 0 10px;
}

nav .contain_nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    display: inline-block;
    height: 80px;
}

nav .galato a {
    font-family:"Lucida Handwriting";
    text-decoration: none;
    color: #000;
    line-height: 80px;
    font-size: 28px;
    display: inline-block;
    height: 80px;
}
nav .login_icons {
    width: 50%;
    justify-content: right;
    display: flex;
}

nav .login_icons .user {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .login_icons .user i,
nav .login_icons .user span {
    line-height: 80px;
    cursor: pointer;
}

nav .login_icons .icons_link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 30px;
}

footer .contain_footer .icons_link {
    margin-top: 10px;
}


nav .login_icons .user i,
nav .login_icons .icons_link i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(249,219,121);
    padding: 0 5px;
}

.login_icons .user .frame_round,
.login_icons .icons_link .frame_round {
    position: relative;
    width: 30px;
    height:30px;
    margin: 0 5px;
    background-color: #000;
    border-radius: 50px;
}

footer .contain_footer .icons_link .frame_round {
    position: relative;
    width: 30px;
    height:30px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50px;
}

footer .contain_footer .icons_link .frame_round i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    padding: 0 5px;
}

footer .contain_footer .icons_link {
    display: flex;
    left: 0;
    margin-left: 20px;
    margin-right: 30px;
}

#ice_cream {
    position: relative;
    height: 770px;
    background-color: rgb(249,219,121);
}

#ice_cream img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 577px;
}

#ice_cream  .ice_cream_text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
}

#getyours .getyours_text p,
#enjoy .enjoy_text p,
#ice_cream .ice_cream_text p {
    font-family: "Consolas";
    text-align: center;
    font-size: 38px;
    color: #fff;
    font-weight: 600;
}

#getyours .getyours_text h2,
#enjoy .enjoy_text h2,
#ice_cream .ice_cream_text h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 130px;
    letter-spacing: 20px;
    color: #fff;
}

#getyours .getyours_text h2 span,
#enjoy .enjoy_text h2 span,
#ice_cream .ice_cream_text h1 span {
    display: inline-block;
    width: 1000px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

#getyours .getyours_text p button a,
#enjoy .enjoy_text p button a,
#ice_cream .ice_cream_text p button a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

#getyours .getyours_text p button,
#enjoy .enjoy_text p button,
#ice_cream .ice_cream_text p button {
    border: none;
    font-size: 24px;
    color: #fff;
    padding: 5px 30px;
    background-color: rgba(249,219,121,0);
    border: 2px solid #fff;
    font-family: "Consolas";
}

#getyours .getyours_text p button:hover,
#enjoy .enjoy_text p button:hover,
#ice_cream .ice_cream_text p button:hover {
    transition: 1s ease background-color;
    background-color: #000;
    border: 2px solid #000;
}

#desserts,
#ourplace,
#ourflavors {
    display: flex;
    text-align: center;
}

#desserts .image-ice,
#ourplace .image-ice,
#ourflavors .image-ice {
    width: 100%;
    height: 100%;
    display: block;
}

#desserts .contain_desserts,
#ourplace .contain_ourplace,
#ourflavors .contain_flavors {
    width: 50%;
}

#ourplace .contain_ourplace .ourplace-text h2,
#desserts .contain_desserts .desserts-text h2,
#ourflavors .contain_flavors .ourflavors-text h2 {
    font-family: "Consolas";
    margin-top: 35%;
    font-size: 38px;
}

#ourplace .contain_ourplace .ourplace-text .h_sub,
#desserts .contain_desserts .desserts-text .h_sub,
#ourflavors .contain_flavors .ourflavors-text .h_sub {
    font-family: "Brush Script MT";
    font-size: 24px;
}

#desserts .contain_desserts .desserts-text .text,
#ourplace .contain_ourplace .ourplace-text .text,
#ourflavors .contain_flavors .ourflavors-text .text {
    font-family: "Comic Sans MS";
    line-height: 25px;
    margin: 40px 0;
    padding: 0 103px;
    
}

#desserts .contain_desserts .desserts-text button a,
#ourplace .contain_ourplace .ourplace-text button a,
#ourflavors .contain_flavors .ourflavors-text button a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

#desserts .contain_desserts .desserts-text button,
#ourplace .contain_ourplace .ourplace-text button,
#ourflavors .contain_flavors .ourflavors-text button {
    border: none;
    font-size: 24px;
    color: #000;
    padding: 5px 30px;
    background-color: rgba(249,219,121,0);
    border: 2px solid #000;
    font-family: "Consolas";
}

#desserts .contain_desserts .desserts-text button:hover,
#ourplace .contain_ourplace .ourplace-text button:hover,
#ourflavors .contain_flavors .ourflavors-text button:hover {
    transition: 1s ease background-color;
    background-color: #000;
    border: 2px solid #000;
}

#desserts .contain_desserts .desserts-text button:hover a,
#ourplace .contain_ourplace .ourplace-text button:hover a,
#ourflavors .contain_flavors .ourflavors-text button:hover a{
    color: #fff;
}

#enjoy {
    background-image: url(../storage-immage/mv3.webp);
    background-repeat: no-repeat;
    background-color: rgb(181,232,213);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}

#getyours {
    background-image: url(../storage-immage/mv5.webp);
    background-repeat: no-repeat;
    background-color: rgb( 255,191,179);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}

#doubletap {
    background-image: url(../storage-immage/mv8.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(181,232,213);
    height: 780px;
    background-attachment: fixed;
    position: relative;
}

#doubletap .ice_tap {
    background-image: url(../storage-immage/mv7.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

#getyours .getyours_text,
#enjoy .enjoy_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.doubletap_white {
    height: 120px;
    position: relative;
}

.doubletap_white p {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-family: "Consolas";
    text-align: center;
    font-size: 38px;
    color: #000;
    font-weight: 600;
}

#image_pass {
    position: relative;
}

#image_pass .angle-left {
    position: absolute;
    top: 50%;
    left: 0;
}

#image_pass .angle-right {
    position: absolute;
    top: 50%;
    right: 0;
}

#image_pass .contain_image_pass {
    display: flex;
}

#image_pass .contain_image_pass .frame_img_hover {
    position: relative;
}

#image_pass .contain_image_pass .image_ice_pass {
    width: 304.22222px;
    height: 300px;
    display: block;
}

#image_pass .contain_image_pass .frame_img_hover .frame_hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

#image_pass .contain_image_pass .frame_img_hover .frame_hover:hover {
    opacity: 0.4;
    background-color: #000;
}

#image_pass .contain_image_pass .frame_img_hover .frame_text {
    position: absolute;
    font-size: 20px;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%,-50%);
    /* display: none; */
} 
#image_pass .contain_image_pass .frame_img_hover:hover .frame_text {
    opacity: 1;
    color: #fff;
}

.larg_angle {
    font-size: 40px;
    cursor: pointer;
}

#image_pass .angle-left button,
#image_pass .angle-right button {
    border: none;
    background-color: rgba(249,219,121,0);
}

footer {
    display: flex;
    background-color: #000;
    color: #fff;
}

footer .contain_footer {
    width: 50%;
    padding-left: 80px;
    margin: 90px 0
}

footer .place_contact {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

footer .pla-footer .h_conten {
    font-family: "Consolas";
    padding-bottom: 18px;
    font-weight: 600;
    font-size: 24px;
}

footer .pla-footer .text_conten {
    font-family: "Comic Sans MS";
}

footer .pla-footer .text_conten a {
    text-decoration: none;
    color: #fff;
}

footer .link_pro {
    padding-left: 31px;
}

footer .link_pro a {
    color: #fff;
}

form {
    padding-left: 20px;
}

form label,
form input {
    display: block;
}

form label {
    font-family: "Consolas";
    font-weight: 600;
    font-size: 24px;
}

form input {
    margin: 8px 0;
    width: 360px;
    height: 35px;
    border: 2px solid #fff;
    border-width: 2px;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    padding-left: 20px;
}

.contain_footer form input:hover {
    border: 4px solid #fff;
}

form button {
    margin: 8px 0;
    width: 360px;
    height: 35px;
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
    font-size: 24px;
}

form button:hover {
    transition: 1s ease background-color;
    transition: 1s ease border;
    border: 2px solid rgb( 47,46,46);
    background-color: rgb( 47,46,46);
}

form button:active {
    border: 2px solid rgb(255, 0, 0);
}

#a {
    animation: slow 1s ease;
}

#b, #c, #d, #e {
    display: none;
    animation: slow 1s ease;
}

/* khung demo */
#frame_login {
    display: none;
    position: absolute;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    animation: slow 0.6s ease;
    z-index: 900;
}

#frame_login .frame_demo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#verification .ver_frame h2,
#frame_login .frame_demo h2 {
    font-family: "Comic Sans MS";
    letter-spacing: 10px;
    font-size: 48px;
    font-weight: 700;
}

#verification .ver_frame p,
#frame_login .frame_demo p {
    font-family: "Consolas";
    margin: 30px 0 50px;
}

#frame_login .frame_demo button {
    border: none;
    font-size: 18px;
    padding: 16px 80px;
    background-color: rgb(183, 164, 23);
    color: #fff;
}

#frame_login .close_x {
    height: 20px;
    width: 20px;
    background-color: #ccc;
    position: absolute;
    right: 5%;
    top: 15%;
}

#frame_login .close_x i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#verification {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 888;
    display: none;
}

#verification .pop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 348px;
    width: 580px;
    background-color: #fff;
    position: relative;
}

#verification .close_x {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 5%;
    top: 10%;
}

#verification .close_x i { 
    font-weight: 700;
}

#verification .ver_frame {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

@keyframes slow
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#nav_moblie {
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    display: none;
}

#nav_moblie .galato {
    flex-basis: 60%;
    display: flex;
    justify-content: right;
    line-height: 50px;
}

#nav_moblie .menu_mobile a,
#nav_moblie .galato a {
    text-decoration: none;
    color: #000;
    font-family: "Lucida Handwriting";
    font-size: 28px;
}

#nav_moblie .menu_mobile {
    line-height: 50px;
    flex-basis: 40%;
    display: flex;
    justify-content: right;
    margin-right: 30px;
}

#slide_bar {
    position: absolute;
    position: fixed;
    background-color: #fff;
    height: 638px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 889;
    animation: move 1s ease;
    display: none;
    text-align: center;
}

#slide_bar .close_bar {
    position: absolute;
    top: 50px;
    right: 60px;
    font-size: 24px;
    font-weight: 700;
}

#slide_bar .slide_box {
   position: absolute;
   left: 50%;
   top: 40%;
   transform: translate(-50%, -40%);
   font-size: 24px;
}

#slide_bar .slide_box .user {
    display: flex;
    justify-content: center;
    padding: 16px;
}

#slide_bar .slide_box .user .frame_round {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: #000;
    border-radius: 50px;
}

#slide_bar .icons_link .frame_round {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background-color: #000;
    border-radius: 50px;
}

#slide_bar .icons_link .frame_round a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
}

#slide_bar .slide_box .user .frame_round a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

#slide_bar ul li {
    list-style: none;
    padding: 16px;
}

#slide_bar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

#slide_bar .icons_link {
    display: flex;
    justify-content: center;
    padding: 16px;
}

@keyframes move {
    to {
        transform: translateX(0);
    }
    from {
   
        transform: translateX(100%);
    }
}


/*   */
#b {
    text-align: center;
}
.top{
    background-color:rgb(191, 238, 223);
    width: 100%;
    height: 365px;
    position: relative;
    color: white;
}
.falavors{
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%);
    font-size:115px ;
}
.top_our{
    padding-top: 100px;
    font-size: 40px;
}
.container hr, .kem_khanh hr{
    height: 3px;
    background-color: black;
}
.opop{
    font-family: "Consolas";
    font-size: 40px;
    margin: 40px 0;
 }
.container p, .ed {
    margin: 16px 0;
 }
.item .momo{
    width: 100px;
    margin: 8px 0;
    display: inline-block;
}
.one, .two, .three, .four{
    /* display:block; */
    display: flex;
    list-style-type: none;/* bo ki hieu dau chu*/
    font-family: sans-serif;
    margin-left: 0px;
    justify-content: center;
    padding: 0px 40px 80px;
}
.kem_khanh{
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.op{
    padding-top: 20px;
}
.confala{
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 25px;
}
.container{
    margin-top:5%;
}
.kem_khanh{
     flex-basis: 23%; 
} 

/* */

.Pickup{
    border: 1px solid black;
    display: inline-block;
    padding: 12px 16px;
}
.Pickup a{
    color: #BBA45B;
    margin-left: 8px;
 }
#c {
    margin: 20px 200px;
    font-size: 14px;
}
.ti-angle-down{
    font-size: 100%;
}
.box_box {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
}
.frame_box {
    display: flex;
    flex-basis: 30%;
    border-right: 1px solid #ccc;
    height: 30px;
}
.frame_box1 {
    position: relative;
    padding-right: 90px;
}
.frame_box p {
    margin-right: 125px;
}
.box_box i,
.frame_box1 span,
.frame_box p,
.frame_box i {
   line-height: 60px;
}
.box_box i {
    padding-left: 40px;
}
.frame_box1 span {
    display: inline-block;
   padding: 0 16px;
}
.frame_box1 span a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    height: 60px;
}
.box_box {
    height: 60px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    background-color: #fff;
}
.box_box #aa {
    position: absolute;
    width: 168px;
    bottom: 0;
}
#aa {
    border-bottom: 3px solid rgb(187, 164, 91);;
}
.FLAVORS_h
{
    opacity: 0.85;
    padding: 32px 0;
}
.icecream{
    opacity: 0.85;
    padding: 16px 0;
}
.FLAVORS_h h2, #icecream h3{
    font-size: 20px;
}
.Kem{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.khung{
    border: 1px solid #ccc;
    flex-basis: 48%;
    display: flex;
}
.khung:hover{
    border: 1px solid #000;
}
.a{
    padding: 20px 16px;
}
.b{
    padding: 0 16px 32px 16px;
    text-align:left;
}
.c{
    padding: 16px 16px 16px 16px;
}
.img{
    width: 50%;
}
#DAIRY{
    padding: 16px 0;
}
#DAIRY h3 {
    font-size: 20px;
}

#icecream {
    line-height: 60px;
}

/*  */
#d div, #d p span, #d h2, div h5{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;

}
#d .tain_hea {
    padding: 64px 0;
    background-color: #ffbfb3;
}
#d .tain_hea .khung1{
    color: white;
}
.font1{
    font-size: 38px;
    letter-spacing: 0.1em;
    font-family: "Consolas";
}
.font2{
    font-size: 120px;
    letter-spacing: 0.1em;      
    font-family: sans-serif;
}
#d h2{
    text-align: center;
    font-family: "Consolas";
    font-size: 38px;
    margin-top: 80px;
}
div .font4{
    font-size: 25px;
    font-family: "Comic Sans MS";
    font-style: italic;
    margin : 0; 
    margin-bottom: 40px;
}
#d .font5{
    line-height: 1.6em;
    font-size: 15px;
    letter-spacing:0.01em ;
    font-family:sans-serif;
    margin-top: 20px;
    padding: 0 321px;
    text-align: center;
}
#d .khung2{
    background-color: #ffbfb3; 
    text-align: center;
    margin: 80px 0 50px;
    padding-bottom: 80px;
    margin-left: 20%;
    margin-right: 20%;
}
.khung2 .font6{
    padding-top: 60px;
}
.khung2 h5{
    margin-top: 15px;
    margin-bottom: 15px;
}
.khung2 .font8{
    margin-bottom: 60px;
    background-color: black;
    margin-left: 40%;
    margin-right: 40%;
    color: aliceblue;
    align-items: center;
}
#d .hinhkem{
    background-image: url("../storage-immage/Kem.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
.button {
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block; 
    padding-top: 30px; 
    background-position: 110px;
    background-attachment: fixed;
  } 
.font8:hover {
    transition: 1s ease background-color;
    background-color: rgb(116, 116, 116);
    color: white;
  }

/*   */
.div2 div, .div2 span, .div2 h2, .div2 h4, .div1 h4{
    text-align: center;
    margin:0;
    padding:1;
    border:0;
    outline:0;
    vertical-align: baseline;
    background:transparent; 
}
.pic {
    background-image: url("../storage-immage/pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
.div1 h4, .div2 h4 {
    font-size: 24px;
    font-family: "Comic Sans MS";
}
.div2 p,
.div1 p {
    text-align: center;
    margin: 16px 0;
    padding: 0 232px;
}
.div1, .div2 {
    margin: 100px 0;
}
.khungtren{
    color:white;
    background-color: #c3a9d4;
    text-align: center;
    padding: 50px 0;
}
.about{
    font-size: 38px;
    letter-spacing: 0.1em;
}
.gelato{
    font-size: 120px;
    letter-spacing: 0.1em;
    font-family: sans-serif
}
.ol{
    text-align: center;
    font-size: 38px;
    margin-top: 20px;
    font-family: "Consolas";
}
.w{
    font-family: courier,monospace;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 0px;
}
/*  . */
@media (max-width:990px)
{
    #desserts .contain_desserts .desserts-text .text,
    #ourplace .contain_ourplace .ourplace-text .text,
    #ourflavors .contain_flavors .ourflavors-text .text {
        padding: 0 20px;
    }
    #desserts .contain_desserts .desserts-text h2, 
    #ourplace .contain_ourplace .ourplace-text h2,
    #ourflavors .contain_flavors .ourflavors-text h2 {
        margin-top: 20%;
    }
    nav .contain_nav ul {
        display: none;
    } 
}
@media (max-width:830px)
{
    nav {
        display: none;
    }
    #nav_moblie {
        display: flex;
    }
    footer {
        display: block;
        padding: 40px 10px;
    }
    footer .contain_footer {
        width: 100%;
        padding-left: 0;
        margin: 16px 0;
    }
    form {
        padding-right: 20px;
    }
    form input {
        width: 100%;
    }
    form button {
        width: 100%;
    }
    #getyours .getyours_text h2 span,
    #enjoy .enjoy_text h2 span,
    #ice_cream .ice_cream_text h1 span {
        display: inline;
        width: 0;
    }

    #getyours,
    #enjoy,
    #doubletap .ice_tap {
        background-size: contain;
    }
      
}
@media (max-width:710px) 
{
    header .contain_header {
        text-align: center;
    }
    #desserts .contain_desserts,
    #ourplace .contain_ourplace,
    #ourflavors .contain_flavors {
        width: 100%;
    }
    #desserts, #ourplace, #ourflavors {
        display: block;
    }
    #desserts .contain_desserts .desserts-text h2, 
    #ourplace .contain_ourplace .ourplace-text h2,
    #ourflavors .contain_flavors .ourflavors-text h2 {
        margin-top: 0;
    }
    .ourflavors-text,
    .ourplace-text,
    .desserts-text {
        padding: 64px 0;
    }
    #image_pass .contain_image_pass .image_ice_pass {
        width: 100%;
        height: 100%;
    }
    #image_pass .contain_image_pass {
        display: block;
    }
    #image_pass .angle-left,
    #image_pass .angle-right {
        display: none;
    }
}



